[Unit]
Description=FIO wallet service
After=network.target
ConditionPathExists=/usr/local/bin/fio-wallet

[Service]
Type=simple
Restart=on-failure
User=fio
ExecStartPre=+/usr/sbin/logrotate -f /etc/logrotate.d/fio-wallet
WorkingDirectory=/var/lib/fio
StandardOutput=file:/var/log/fio/wallet.log
StandardError=file:/var/log/fio/wallet-error.log
ExecStart=/usr/local/bin/fio-wallet --config-dir /var/lib/fio/fio-wallet

NoNewPrivileges=true
ProtectSystem=strict
ReadWritePaths=/var/lib/fio
MemoryDenyWriteExecute=true
RestrictSUIDSGID=true
LockPersonality=true
RestrictAddressFamilies=AF_UNIX
PrivateUsers=true
PrivateDevices=true
PrivateTmp=true
CapabilityBoundingSet=

[Install]
WantedBy=multi-user.target
Alias=fio-wallet.service
