Package: fioprotocol
Version: xxxxxxxxxxxx
Depends: libssl1.1 (>= 1.1.1), curl (>= 7.0.0), libcurl4-gnutls-dev (>= 7.58.0)
Priority: optional
Architecture: amd64
Maintainer: FIO Foundation <security@fioprotocol.io>
Description: FIO protocol daemons and utilities
 Basic set of daemons and configuration for joining the FIO network.

